{% extends "Security/layout.html.twig" %}

{% block user_content %}
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center message">
            <p>Connectez-vous pour pouvoir contribuer à ce site.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="well">
                <legend>Se connecter</legend>
                {% for flash_message in app.session.flashBag.get("error") %}
                    <div class="main">
                        <div class="alert alert-danger">
                            {{ flash_message }}
                        </div>
                    </div>
                {% endfor %}
                <form action="{{ path('login_check') }}" method="post">
                    {#First Name#}
                    <div class="form-group">
                        <label for="username">{{ 'Email' }}</label>
                        <input class="form-control" type="text" id="username" name="_username" required="required" />
                    </div>
                    {#Password#}
                    <div class="form-group">
                        <label for="password">{{ 'Mot de passe' }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                    {#Remember Me#}
                    <div class="form-group text-center">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />
                        <label for="remember_me">{{ 'Se souvenir de moi' }}</label>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    {#Validation#}
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'Connexion' }}" />
                    </div>
                    {#Mot de passe oublié#}
                    <div class="text-center" style="margin-bottom: 10px">
                        <a href="{{ path('reset_request') }}">Mot de passe oublié ?</a>
                    </div>
                    {#S'inscrire#}
                    <div class="text-center">
                        <a href="{{ path('user_registration') }}">Je m'inscris maintenant</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock user_content %}
