{% extends "Security/layout.html.twig" %}

{% block user_content %}
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="well">
                <legend>Réinitialiser le mot de passe</legend>
                {{ form_start(form) }}
                <fieldset>
                    {#Password#}
                    <div class="form-group">
                        {{ form_label(form.password.first, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Nouveau mot de passe'}})}}
                        {{ form_errors(form.password.first) }}
                    </div>
                    {#Password confirmation#}
                    <div class="form-group">
                        {{ form_label(form.password.second, null, {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le nouveau mot de passe'}})}}
                        {{ form_errors(form.password.second) }}
                    </div>
                    {#Validation#}
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'Je valide' }}" />
                    </div>
                    {{ form_end(form) }}
                </fieldset>
            </div>
        </div>
    </div>
{% endblock user_content %}
